@{
    ViewData["Title"] = "Quem Somos";
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/general.css" />
    <link rel="stylesheet" href="~/css/sideBar.css" />
    <link rel="stylesheet" href="~/css/styleExtra.css" />

    <style>
        /*Colors (vai pro .css padrão)*/
        body {
            background-image: url('@Url.Content("~/images/background1.jpg")');
            background-size: cover;
            background-attachment: fixed;
        }
    </style>
</head>

<body>

    @*<nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="">
                <h3 class="white">Odisseia</h3>
            </a>
            <button class="navbar-toggler" style="color:#ffffff;" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" style="color:#ffffff;"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mr-20">
                        @Html.ActionLink("Início", "Index", "Home")
                    </li>
                    <li class="nav-item mr-20">
                        @Html.ActionLink("Quem Somos", "QuemSomos", "Home")
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Login", "Login", "Usuario")
                    </li>
                </ul>
            </div>
        </nav>*@

    <nav class="navbar navbar-inverse navbar-fixed-top navCustom">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="" style="font-size:25px">Odisseia</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Início", "Index", "Home")</li>
                <li>@Html.ActionLink("Quem Somos", "QuemSomos", "Home")</li>
                <li>@Html.ActionLink("Login", "Login", "Usuario")</li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row mt-10p">
            <div class="col-lg-5 text-center">
                <img src="~/images/Logo_Completa_Branca.png" alt="ASP.NET" class="img-fluid" style="max-width: 320px">
            </div>
            <div class="col-lg-7 text-center">
                <h3 class="white text-center">Welcome to Odisseia<br>Entre nessa jornada conosco!</h3>
                <div class="row">
                    <div class="col-lg-6">
                        <h5 class="white mt-80 text-left">"Sonhe, planeje e faça. Uma hora todos podem virar o Elon Musk!"<br> - Arthur Pimenta</h5>
                    </div>
                    <div class="col-lg-6">
                        <h5 class="white mt-20 text-right">"Lembre-se, o sucesso é uma jornada, não um destino."<br> - Bruce Lee</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>