@{
    ViewData["Title"] = "Quem Somos";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/general.css" />
    <link rel="stylesheet" href="~/css/sideBar.css" />
    <link rel="stylesheet" href="~/css/styleExtra.css" />

    <style>
        /*Colors (vai pro .css padrão)*/
        body {
            background-image: url('@Url.Content("~/images/background1.jpg")');
            background-size: cover;
            background-attachment: fixed;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top navCustom">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="">Odisseia</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Início", "Index", "Home")</li>
                <li>@Html.ActionLink("Quem Somos", "QuemSomos", "Home")</li>
                <li>@Html.ActionLink("Login", "Login", "Usuario")</li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row mt-10p">
            <div class="col-lg-5 text-center">
                <img src="~/images/Logo_Completa_Branca.png" class="img-fluid" style="max-width: 320px">
            </div>
            <div class="col-lg-7 text-center">
                <h2 class="white">Quem Somos</h2>
                <p class="white">
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and
                    scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and
                    scrambled it to make a type specimen book.
                </p>
            </div>
        </div>
    </div>

</body>

</html>