<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment include="Development,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

        <!-- CSS-->
        <link rel="stylesheet" href="~/css/general.css" />
        <link rel="stylesheet" href="~/css/sideBar.css" />
        <link rel="stylesheet" href="~/css/styleExtra.css" />

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
    </environment>

    @*<script>
            function myFunction() {
                var x = document.getElementById("sidebar");
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }
        </script>*@

</head>
<body>

    <div class="sidebar" id="sidebar">
        <div class="sidebar-logo">
            <img src="~/images/Logo_Reduzida_Branca.png" class="img-fluid" />
        </div>
        <div class="sidebar-content">
            <div>
                <img src="~/images/icon_relatorio_white.png" class="img-fluid sidebar-icons" />
                @Html.ActionLink("HOME", "Index", "Missao")
            </div>
            <div>
                <img src="~/images/icon_missoes_white.png" class="img-fluid sidebar-icons" />
                @Html.ActionLink("MISSÃO", "Create", "Missao")
            </div>
            <div>
                <img src="~/images/icon_relatorio_white.png" class="img-fluid sidebar-icons" />
                @Html.ActionLink("RELATÓRIO", "Index", "Relatorio")
            </div>
            <div>
                <img src="~/images/icon_logout_white.png" class="img-fluid sidebar-icons" />
                @Html.ActionLink("LOGOUT", "Logout", "Usuario")
            </div>
        </div>
    </div>

    <div class="content-container">
        <div class="container-fluid">
            @*<div class="row bar-responsive text-center">
                    <button onclick="myFunction()">Click Me</button>
                </div>*@
            @RenderBody()
        </div>
    </div>

    <environment include="Development,Production">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)


</body>
</html>