<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment include="Development,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/general.css" />
        <link rel="stylesheet" href="~/css/sideBar.css" />
        <link rel="stylesheet" href="~/css/styleExtra.css" />
    </environment>

</head>
<body>

    <div class="sidebar">
        <center><img src="~/images/Logo_Reduzida_Preta.png" class="img-fluid" style="max-width: 100px"></center>
        @Html.ActionLink("HOME", "Index", "Missao")
        @Html.ActionLink("MISSÃO", "Create", "Missao")
        @Html.ActionLink("RELATÓRIO", "Index", "Relatorio")
        @Html.ActionLink("LOGOUT", "Logout", "Usuario")
    </div>

    <div class="container body-content">
        <div style="margin-left: 6vw; margin-top: 1vw; overflow-x: hidden;">@RenderBody()</div>
    </div>

    <environment include="Development,Production">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)

</body>
</html>
