@model OdisseiaWeb.Models.Missao
@using Newtonsoft.Json

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    -->
</head>
<body>

    <div class="container">
        <h2>Missão</h2>
        <form asp-action="Save" asp-controller="Missao">
            <input type="hidden" id="idMissao" name="idMissao" value="@Model.id">
            <div class="form-group">
                <label for="txtTitulo">Titulo:</label>
                <input type="text" class="form-control" id="txtTitulo" name="txtTitulo" value="@Model.titulo">
            </div>
            <div class="form-group">
                <label for="txaDescricao">Descrição:</label>
                <select id="cbxMateria" name="cbxMateria" class="form-control">
                    @{var materias = (IList<OdisseiaWeb.Models.Materia>)TempData["Materias"]; }
                    @foreach (var materia in materias)
                    {
                        <option value="@materia.id">@materia.nome</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="txaDescricao">Descrição:</label>
                <div class="md-form">
                    <textarea style="resize: none; overflow-x: hidden;" class="form-control" name="txaDescricao" id="txaDescricao" rows="5" cols="50" maxlength="1000" placeholder="Fale sobre a missão, liste materais de referência para os alunos, etc...">
                        @Model.descricao
                    </textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="datePrazo">Prazo:</label>
                <input type="date" value="@Model.dataPrazo" class="form-control" id="datePrazo" name="datePrazo" placeholder="Enter password">
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Salvar">
            </div>
        </form>
        <div class="container">
            <partial name="_Views_Questao_Index" model="Model.questoes" />
        </div>
    </div>

    <!-- Modals -->
    <partial name="_Views_Questao_Edit" model="Model.questoes" />

    <script>
            $(document).ready(function(){

              $(".btnStatus").click(function(){
                  $("#idMissãoStatus").val("#"+this.id);
              });

              $("#btnMudarStatus").click(function() {
                  var id = $("#idMissãoStatus").val();
                if($(id).hasClass("btn-success")){
                    $(id).removeClass("btn-success");
                    $(id).addClass("btn-danger");
                    $(id).val("Recuado");
                }
                else{
                    $(id).removeClass("btn-danger");
                    $(id).addClass("btn-success");
                    $(id).val("Lançado");
                }
              });

              $("#txtPesquisaQuestao").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#tblMissoes tr").filter(function() {
                  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
              });

            });
    </script>

</body>
</html>
